<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="server.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Rework Louis Vuitton</title>
    <style>
            .center {
              padding: 20% 0;
              border: 5px dashed black;
            }
          </style>
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="/home" class="nav-item" title="HOME">HOME</a></li>
            <li><a href="/users" class="nav-item" title="LV LOVERS">LV LOVERS</a></li>
            <li><% if (user) { %>
            <a href="/logout" class="nav-item" title="LOG OUT">LOG OUT</a>
            <% } else { %>
            <a href="/auth/google" class="nav-item" title="LOG IN">LOGIN</a>
            <% } %></li>
        </ul>
        
    </nav>


