<%- include('./partials/header') %>
<main>
    <div class="top-section">
        <h1 id="about" class="block">REWORK LOUIS VUITTON</h1> 
        <h3 id="about home" class="text">Rework Louis Vuitton is a social app where LV rework designers and LV lovers share a common interest, an affinity for fashion, luxury streetwear and Louis Vuitton. Each LV rework designer has their own profile page where they showcase their reworked articles from custom clothing, shoes to upholstery. On the designer's profile page, LV lovers are able to comment, vote and contact the designer to inquire about custom LV gear.</h3>
    </div>     
      <% if(user){ %>
        <a href="/users/" class="btn btn-primary btn-lg" role="button" title="ENTER">ENTER</a>
     <% } %>

  </main>
<%- include('./partials/footer') %>