body {
  background: url("../images/rlv-background.png");
  background-size: cover;
}

.nav {
  background-color: saddlebrown;
  
} 

li {
  display: inline;
  color: white;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 5px 5px;
  text-decoration: none;
}

#about.main-background.center {
  border-image: url("../images/203599.png") 27 space;
  background-size: 50px;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  border: 3px solid;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* position: absolute; */
  left: 50px; 
  top: 170px;
  color: black;
  border-image-width: inherit;
  min-height: 10px;
  max-height: 90px;
  display: inline; 

}
.p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.a, #user-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: large;
  color: yellowgreen;
}

/* #button, #a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: large;
  color: yellowgreen;
} */

#show-page {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: yellowgreen;
  background-color: black;
}
